<div id="qtOverlay">
    <p>Por Favor Selecione as Tabelas AdHoc</p>
    <p>Selecione ao Menos uma Dimensão e uma Métrica</p>
    <button class="add-button lui-button" ng-click="showMakeTableDialog($event)">Criar Tabela</button>
    <!--button class="add-button lui-button" ng-click="showAddMasterItemsDialog($event)">Select Table</button-->
</div>